.Pagination__item {
  margin-right: 10px;
}

.Pagination__button {
  background: none;
  border: none;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.Pagination__button:hover {
  cursor: pointer;
  background-color: gray;
}

.Pagination__button:active {
  cursor: pointer;
  background-color: black;
  color: white;
}
